<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unitime-dev-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>unitime-dev-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>unitime-dev-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$unitime-dev-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:unitime-dev-sql-database-server.database.windows.net,1433;Initial Catalog=unitime-dev-sql-database;User ID=unitime-dev@unitime-dev-sql-database-server.database.windows.net;Password=hvrj$12!qbq*" Name="Data Source=tcp:unitime-dev-sql-database-server.database.windows.net,1433;Initial Catalog=unitime-dev-sql-database;User Id=unitime-dev@unitime-dev-sql-database-server.database.windows.net;Password=hvrj$12!qbq*;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniTime.EntityFramework.UniTimeDbContext, UniTime.EntityFramework" MigrationConfiguration="UniTime.Migrations.Configuration, UniTime.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=tcp:unitime-dev-sql-database-server.database.windows.net,1433;Initial Catalog=unitime-dev-sql-database;User Id=unitime-dev@unitime-dev-sql-database-server.database.windows.net;Password=hvrj$12!qbq*;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=tcp:unitime-dev-sql-database-server.database.windows.net,1433;Initial Catalog=unitime-dev-sql-database;User Id=unitime-dev@unitime-dev-sql-database-server.database.windows.net;Password=hvrj$12!qbq*;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>data source=tcp:unitime-dev-sql-database-server.database.windows.net,1433;initial catalog=unitime-dev-sql-database;user id=unitime-dev@unitime-dev-sql-database-server.database.windows.net;password=hvrj$12!qbq*;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>